[flake8]
exclude = .git,__pycache__,docs,old,build,dist
max-line-length = 100
per-file-ignores =
    eips_exposed/common/__init__.py:F401
    eips_exposed/processor/__init__.py:F401
    eips_exposed/server/__init__.py:F401
