{% extends "base.html" %}
{% load censoremail %}
{% load fixlinks %}
{% load ghusername %}
{% load markdown %}

{% block title %}Commit {{ commit_id }}{% endblock %}
{% block metatitle %}Commit {{ commit_id }}{% endblock %}
{% block metadescription %}{{ message|truncatewords:250 }}{% endblock %}

{% block content %}
    <h1>Commit {{ commit_id|slice:":7" }}</h1>
    <div class="doc-meta">
        <div class="document-header">
            <table>
                <tr>
                    <th>Commit hash</th>
                    <td>{{ commit_id }}</td>
                </tr>
                <tr>
                    <th>Commit time</th>
                    <td>{{ commit_time|date:"Y-m-d" }}</td>
                </tr>
                <tr>
                    <th>Committer</th>
                    <td>{{ committer__person_string|censoremail|ghusername|markdown }}</td>
                </tr>
                <tr>
                    <th>Author time</th>
                    <td>{{ author_time|date:"Y-m-d" }}</td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>{{ author__person_string|censoremail|ghusername|markdown }}</td>
                </tr>
            </table>
        </div>
        <div class="side-box">
            <p class="description">{{ message }}</p>
            {% if document_type %}
            <p><a href="https://github.com/ethereum/{{ document_type }}s/commit/{{ commit_id }}">GitHub Diff</a></p>
            {% endif %}
        </div>
    </div>
    <div class="commit-docs">
        <h2>Documents</h2>
        <table>
            <thead>
                <tr>
                    <th>Document</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in docs %}
                <tr>
                    <td><a href="{{ doc.link }}">{{ doc.name }}</a></td>
                    <td>{{ doc.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
