{% extends "base.html" %}
{% load censoremail %}
{% load fixlinks %}
{% load ghusername %}
{% load markdown %}

{% block title %}EIP and ERC parse errors{% endblock %}
{% block metatitle %}EIP and ERC parse errors{% endblock %}
{% block metadescription %}Errors that occurred when parsing Ethereum deisgn documents{% endblock %}

{% block content %}
    <h1>Document parse errors</h1>
    <table>
        <thead>
            <tr>
                <th>Commit</th>
                <th>Commit Time</th>
                <th>Import batch</th>
                <th>Document</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for error in errors %}
            <tr>
                <td>{{ error.document.commit_id|slice:":7" }}</td>
                <td>{{ error.document.commit.commit_time }}</td>
                <td>{{ error.import_batch }}</td>
                <td><a href="{{ error.document.link }}">{{ error.document.name }}</a></td>
                <td>{{ error.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
