{% extends "base.html" %}
{% load since %}

{% block title %}EIP and ERC parse errors{% endblock %}
{% block metatitle %}EIP and ERC parse errors{% endblock %}
{% block metadescription %}Errors that occurred when parsing Ethereum deisgn documents{% endblock %}

{% block content %}
    <h1>Document parse errors</h1>
    <table class="tabular">
        <thead>
            <tr>
                <th>Commit</th>
                <th>Import batch</th>
                <th>Document</th>
                <th>Error Message</th>
            </tr>
        </thead>
        <tbody>
            {% for error in errors %}
            <tr>
                <td>
                    <a href="/commits/commit-{{ error.document.commit_id }}.html">{{ error.document.commit_id|slice:":7" }}</a><br>
                    {{ error.document.commit.commit_time|since }} ago
                </td>
                <td>{{ error.import_batch }}</td>
                <td>
                    <a href="{{ error.document.link }}">{{ error.document.name }}</a>
                </td>
                <td>{{ error.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
