#!/bin/sh

DOMAINS=("$@")
KEY_SIZE={{ letsencrypt_keysize }}
EMAIL="{{ letsencrypt_email }}"

#Join $domains to -d args
domain_args=""
for domain in "${DOMAINS[@]}"; do
    domain_args="$domain_args -d $domain"
done

# Select appropriate email arg
case "$EMAIL" in
    "") email_arg="--register-unsafely-without-email" ;;
    *) email_arg="--email $EMAIL" ;;
esac

certbot certonly --webroot -w {{ letsencrypt_webroot }} \
    $email_arg \
    $domain_args \
    --rsa-key-size $KEY_SIZE \
    --agree-tos \
    --force-renewal
