@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/elements/tag.sass';
@import '~bulma/sass/elements/notification.sass';
@import '~bulma/sass/elements/other.sass';
@import '~bulma/sass/components/level.sass';
@import '~bulma/sass/components/card.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/layout/footer.sass';
@import '~bulma/sass/grid/columns.sass';

@import url('https://fonts.googleapis.com/css?family=Biryani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

$primary-bg: #88A8CF;
$light-bg: #F5F5F5;
$med-bg: #BDBDBD;

body {
    background: $primary-bg;
    font-family: "Martel Sans", sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: "Biryani", sans-serif;
}

header {
    nav {
        @include mobile {
            .level-item {
                float: left;
                width: 50%;
                display: block;

                &.has-brand {
                    width: 100%;
                }
            }
        }
        .brand {
            /*padding: 1rem 0;
            position: relative;
            transition: transform .5s cubic-bezier(.31,2.71,.8,.9);
            transform-origin: 50% 50%;

            canvas {
                position: absolute;
                top: 0;
                left: 0;
                image-rendering: optimizeSpeed;
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-crisp-edges;
                image-rendering: crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: pixelated;
                -ms-interpolation-mode: nearest-neighbor
            }
            &:hover {
                transform: scale(1.05);
            }*/
            h1 {
                clear: both;
                .exposed {
                    color: $red;
                }
            }
        }
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#tag-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include mobile {
        margin: 2rem;
    }
    .tags {
        .tag {
            @extend .is-light;
            @include mobile {
                font-size: 12px !important;
            }
        }
    }
}

#eips {
    padding: 0;
    min-height: 150rem;
    margin-top: 2rem;
    .column {
        @include tablet {
            width: 33%;
        }
    }
    .eip {
        display: block;
        margin: 1rem;
        min-height: 15rem;
        .media-left {
            padding-right: 1rem;
        }
        .tags {
            padding: 0.5rem;
            .tag {
                background: $med-bg;
                color: $white;
            }
        }
        &.card {
            background: $light-bg;
            .card-content {
                color: $grey;
            }
        }
    }
}

#eip-detail {
    margin-top: 2rem;
    .container {
        background: $light-bg;
    }
    .tags {
        padding: 0.5rem;
        .tag {
            background: $med-bg;
            color: $white;
        }
    }
    .eip-header {
        tr {
            &.hide {
                display: none;
            }
        }
    }
}

a.tag {
    &:hover {
        text-decoration: none;
    }
}

#eip-detail table.commits {
    font-size: 0.75rem;
    max-height: 10rem;
    overflow-y: scroll;
    display: block;
    &:before {
        content: '';
        width: 100%;
        height: 10rem;
        position: absolute;
        background: linear-gradient(transparent 150px, $light-bg);
        display: block;
    }
}

.loading-overlay-parent {
    overflow: hidden;
    position: relative;
    .loading-overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #EFEFEF;
        opacity: 0.75;
    }
}

.search-box {
    margin-top: 2rem;
    .search-input {
        width: 100%;
        height: 3rem;
        font-size: 2rem;
        padding: 0.25rem;
    }
}

.no-results {
    margin-left: 2rem;
}

.category-nav,
.status-nav {
    padding: 1.5rem;
    text-align: center;

    .category-button,
    .status-button {
        margin: 0.5rem;

        .count {
            margin-left: 0.5rem;
            padding: 0.25rem;
            line-height: 1.25rem;
            font-size: 1rem;
            border-radius: 5px;
            height: 1.5rem;
            background: $primary-bg;
            color: $light-bg;
        }
    }
}